.App {
  text-align: center;
}

.loader {
  height: 80px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #23e7a5;
  height: auto;
  padding: 20px;
  color: #fff;
  &-logo {
    height: 80px;
  }
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  .item-link {
    text-decoration: none;
    color: #000;
    .pokemon-single-item {
      width: 330px;
      height: auto;
      position: relative;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: #ededed;
      color: #424242;
      margin: 10px;
      border-radius: 3px;
      box-shadow: 0 1px 5px rgb(0, 0, 0, 0.12), 0 1px 2px rgb(0, 0, 0, 0.24);
      &:hover {
        animation: bounce 0.5s linear;
      }
      .item-name {
        color: #000;
      }
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

.card-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.12), 0 1px 2px rgb(0, 0, 0, 0.24);
  margin-top: 30px;
  padding-top: 15px;
  overflow-x: auto;
  .pokemon-name {
    font-size: 3rem;

    text-transform: capitalize;
    text-align: center;
  }
  .sprite {
    max-width: 100%;
  }
  .card-content {

      overflow-x: auto;
  }
}

#description {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #23e7a5;
    color: white;
  }
}
